body{
    background-color: white;
}



.inline-block{
    display: inline-block;
}

.main{
    background-color: rgb(85, 85, 85);
    width:0px auto;
    height:350px;
    margin-top: 130px;
    margin-left: -20px;
    margin-right: -20px;
}

.container{
    text-align: center;
    padding-top: 25px;
}

.item-left{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: -12px;
}

.item-center{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 15px;
}

.item-right{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 15px;
}

.item-left img{
    height: 300px;
    width: 400px;
    transition:1s;
    border-radius: 10px;
}

.item-center img{
    height: 300px;
    width: 400px;
    margin-left: 0px;
    margin-right: 10px;
    transition: 1s;
    overflow: hidden;
    border-radius: 10px;
    max-height:100%;
}

.item-right img{
    height: 300px;
    width: 400px;
    transition: 1s;
    overflow: hidden;
    border-radius: 10px;
    max-height:100%;
}

.relative{
    position: relative;
}

.text-left{
    font-size: 28px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: -76px;
    margin-left: 20px;
    text-align: left;
}

.text-center{
    font-size: 28px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: -110px;
    margin-left: 20px;
    text-align: left;
}

.text-right{
    font-size: 28px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: -76px;
    margin-left: 20px;
    text-align: left;
    
}

.item-left:hover img{
    transform: scale(1.2);
}

.item-center:hover img{
    transform: scale(1.2);
}

.item-right:hover img{
    transform: scale(1.2);
}