body{
    background-color: white;
}

.inline-block{
    display: inline-block;
}

.main{
    background-color: rgb(85, 85, 85);
    width:0px auto;
    height:350px;
    margin-top: 130px;
    margin-left: -20px;
    margin-right: -20px;
}

.container{
    text-align: center;
    padding-top: 46px;
}

.item-left{
    width: 360px;
    height: 260px;
}

.item-center{
    width: 360px;
    height: 260px;
    margin-left: 35px;
    margin-right: 35px;
}

.item-right{
    width: 360px;
    height: 260px;
}

.item-center img{
    max-height:100%;
    transition: all 0.2s;
    overflow: hidden;
}

.item-left img{
    max-height:100%;
    transition: all 0.2s;
    overflow: hidden;
}

.item-right img{
    max-height:100%;
    transition: all 0.2s;
    overflow: hidden;
}

