body{
    background-color:rgb(228, 228, 228);
}

.main{
    width:100%;
    height:400px;
    margin: 0px auto;
    margin-top:100px;
    background-color:rgb(39, 38, 44);
}


.container-out{
    width:250px;
    height:100px;
    padding-top:60px;
    padding-left:310px;
    padding-right:90px;
    display:inline-block;
}

.text-help{
    color:rgba(173, 147, 0, 0.993);
    font-size:15px;
}

.text-cap{
    font-size:30px;
    color:white;
    padding-top:20px;
}

.container-in{
    background-color: white;
    width:420px;
    height:370px;
    display:inline-block;
    
}

.text-inside{
    color:black;
    padding-top:50px;
    padding-left:40px;
    padding-right:40px;
}

.text-deep{
    font-weight: bold;
    font-size:20px;
}

.text-pod{
    padding-top:25px;
    padding-bottom:28px;
}

.icon{
    padding-left:20px;
}